<a href="https://colab.research.google.com/github/mctuliomontoya/TC1002S/blob/a01254155-branch/Act_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad Evaluable: Obtención de estadisticas descriptivas
### Marco Tulio Montoya Angulo - A01254155

In [1]:
%pwd

'/content'

In [3]:
%cd drive/'MyDrive'/TC1002S/'Google colab'

/content/drive/MyDrive/TC1002S/Google colab

In [4]:
%cd datasets/

/content/drive/MyDrive/TC1002S/Google colab/datasets

In [10]:
# se importan los modulos numpy y pandas, se le agregan prefijos
import pandas as pd
import numpy as np

In [12]:
# se lee el archivo a usar, se demuestra que se importa correctamente mostrando datos
df = pd.read_csv('iris.csv')

df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [13]:
# se define el numero de columnas y renglones del archivo
df.shape

(150, 5)

In [15]:
# se ven las variables y tipos de datos que estas aceptan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [16]:
# se muestra el indice de columnas
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [17]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
print('=== DATOS - MEDIA ===')
print('Media Sepal.Lenght: ', df['Sepal.Length'].mean())
print('Media Sepal.Width: ', df['Sepal.Width'].mean())
print('Media Petal.Length: ', df['Petal.Length'].mean())
print('Media Petal.Width: ', df['Petal.Width'].mean())

=== DATOS - MEDIA ===
Media Sepal.Lenght:  5.843333333333334
Media Sepal.Width:  3.0573333333333337
Media Petal.Length:  3.7580000000000005
Media Petal.Width:  1.1993333333333336

In [22]:
print('=== DATOS - MEDIANA ===')
print('Mediana Sepal.Lenght: ', df['Sepal.Length'].median())
print('Mediana Sepal.Width: ', df['Sepal.Width'].median())
print('Mediana Petal.Length: ', df['Petal.Length'].median())
print('Mediana Petal.Width: ', df['Petal.Width'].median())

=== DATOS - MEDIANA ===
Mediana Sepal.Lenght:  5.8
Mediana Sepal.Width:  3.0
Mediana Petal.Length:  4.35
Mediana Petal.Width:  1.3

In [23]:
print('=== DATOS - DESVIACIÓN ESTÁNDAR ===')
print('Desviación estándar Sepal.Lenght: ', df['Sepal.Length'].std())
print('Desviación estándar Sepal.Width: ', df['Sepal.Width'].std())
print('Desviación estándar Petal.Length: ', df['Petal.Length'].std())
print('Desviación estándar Petal.Width: ', df['Petal.Width'].std())

=== DATOS - DESVIACIÓN ESTÁNDAR ===
Desviación estándar Sepal.Lenght:  0.828066127977863
Desviación estándar Sepal.Width:  0.4358662849366982
Desviación estándar Petal.Length:  1.7652982332594662
Desviación estándar Petal.Width:  0.7622376689603465